---
layout: default
---

<section>
  {% for post in site.posts limit: 2 %}
    <div class="index-post">
      <header>
        <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <section>
        {% if post.featured_image %}
          <img src="images/{{ post.featured_image }}" class="fit image" alt="{{post.title}}">
        {% endif %}

        {{ post.content | truncatewords: 150, '...' }}

        <div class="actions">
          <a href="{{ post.url | relative_url }}" class="button">Read More</a>
        </div>
      </section>
    </div>
    {% if forloop.first %}
      {% include newsletter.html %}
    {% endif %}
  {% endfor %}
</section>

<section>
  {% for post in site.posts offset: 2 limit: 2 %}
    <article class="excerpt">
      <header>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      </header>
      <section>
        {% if post.featured_image %}
          <img src="images/{{ post.featured_image }}" class="fit image" alt="{{post.title}}">
        {% endif %}
        {{ post.content | truncatewords: 50, '...' }}
      </section>
      <footer>
        <div class="actions">
          <a href="{{ post.url | relative_url }}" class="button">Read More</a>
        </div>
      </footer>
    </article>
  {% endfor %}
</section>
