<footer id="post-footer">
  <h2>Other stories you'll love</h2>
  <div class="other-stories">
  {% if page.previous %}
    {% assign assigned_post = page.previous %}
    {% include post-card.html %}
   {% endif %}

  {% if page.next %}
    {% assign assigned_post = page.next %}
    {% include post-card.html %}
  {% endif %}
  </div>
</footer>

<style>
  .other-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  @media (max-width: 500px) {
    .other-stories {
      display: block;
    }
  }
</style>