---
layout: default
---

<article>
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <section id="article-content">
    {% if page.featured_image %}
      <img src="../images/{{ page.featured_image }}" class="fit image featured-image" alt="{{page.title}}">
    {% endif %}
    {% if page.image_credit %}
      <span>
        <small>
        {{ page.image_credit | markdownify }}
        </small>
      </span>
    {% endif %}

    <div class="content">
      {{ content }}
    </div>

    {% include newsletter.html %}
    
    <div class="support">
      <span>---</span>
      <p>
        If you liked this story and want to fuel future stories please consider <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/shawgravitt"><img style="vertical-align: text-bottom;" src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buying me a coffee!</span></a>
      </p>
    </div>
  </section>

  {% include post-footer.html %}
</article>

